<div class="app-sidebar-wrapper">
    <div class="app-sidebar sidebar-shadow">
        <div class="app-header__logo">
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Cihaz Test Raporlama Sistemi"
                class="logo-src"></a>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <div class="scrollbar-sidebar scrollbar-container">
            <div class="app-sidebar__inner">
                <ul class="vertical-nav-menu">
                    <li class="app-sidebar__heading">Yönetim</li>
                    <li><a class="mm-active" href="/yonetim-paneli">
                        
                        Yönetim Paneli
                        <i class="metismenu-icon pe-7s-config"></i>
                    </a></li>
                    <li class="mm-active">
                        <a href="#">
                            <i class="metismenu-icon pe-7s-config"></i>
                            Modüller
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul class="mm-show">


                            <li><a  href="/kurumlar">Kurumlar</a></li>
                            <li><a href="/cihazlar">Cihazlar</a></li>
                            <li><a href="/kitler">Kitler</a></li>
                            <li><a href="/programlar">Programlar</a></li>
                            <li><a href="/analitler">Analitler</a></li>
                            <li><a href="/kitmetodlari">Kit Metodları</a></li>
                            <li><a href="/numuneler">Numuneler</a></li>
                            <li><a href="/cihazmodellerigrubu">Cihaz Modelleri Grubu</a></li>
                            <li><a href="/birimtanimlama">Birim Tanımlama Sayfası</a></li>
                    
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon pe-7s-users"></i>
                            Kullanıcı İşlemleri
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li><a href="/kullanicilar">Kullanıcılar</a></li>
                            <li><a href="/kullanicitipleri">Kullanıcı Türleri</a></li>                            
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon pe-7s-box1"></i>
                            Stok İşlemleri
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon">
                                    </i>Stok Durumu
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon">
                                    </i>İade Numuneler
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="app-sidebar__heading">Veri Giriş İşlemleri</li>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon pe-7s-note2"></i>
                            Test İşlemleri
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon"></i>
                                    Buttons
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="buttons-standard.html">
                                            <i class="metismenu-icon">
                                            </i>Standard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="buttons-pills.html">
                                            <i class="metismenu-icon">
                                            </i>Pills
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="app-sidebar__heading">Raporlar</li>
                    <li>
                        <a href="chart-boxes.html">
                            <i class="metismenu-icon pe-7s-graph">
                            </i>Sonuc Raporları
                        </a>
                    </li>
                    <li>
                        <a href="chart-boxes-2.html">
                            <i class="metismenu-icon pe-7s-graph2">
                            </i>Cihaz Raporları
                        </a>
                    </li>
                    <li>
                        <a href="chart-boxes-3.html">
                            <i class="metismenu-icon pe-7s-graph1">
                            </i>Kullanıcı Raporları
                        </a>
                    </li>
                                    
                </ul>
            </div>
        </div>
    </div>
</div>