<!doctype html>
<html lang="tr">

<head>
    <title>Cihaz Test Raporlama Sistemi Giriş</title>

    {{>metas}}

</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100 bg-plum-plate bg-animation">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto app-login-box col-md-8">
                        <div class="app-logo-inverse mx-auto mb-3"></div>
                        <div class="modal-dialog w-100 mx-auto">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="h5 modal-title text-center">
                                        <h4 class="mt-2">
                                            <div>Cihaz Test ve Raporlama Sistemi </div>
                                            <span>Lütfen size verilen hesap bilgilerinizi ile giriş yapınız.</span>
                                        </h4>
                                    </div>
                                    <form class="">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="position-relative form-group"><input name="email" id="exampleEmail" placeholder="Email Adresi..." type="email" class="form-control"></div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group"><input name="password" id="examplePassword" placeholder="Parola..." type="password" class="form-control"></div>
                                            </div>
                                        </div>                                        
                                    </form>
                                </div>
                                <div class="modal-footer clearfix">
                                    <div class="float-left"><a href="javascript:void(0);" class="btn-lg btn btn-link">Parolamı unuttum</a></div>
                                    <div class="float-right">
                                        <button class="btn btn-primary btn-lg" onclick="location.href='yonetim-paneli';">Yönetim Paneline Giriş</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center text-white opacity-8 mt-3">Copyright © Biyomed ITAGE</div>
                    </div>
                </div>
            </div>
        </div>
</div>

{{>foot}}

</body>
</html>
