{{#each programAnalitleriListesi}}
<tr>
    <th scope="row">
        <div class="media align-items-center">

            <div class="media-body">
                <span class="name mb-0 text-sm">{{programadi}}</span>
            </div>
        </div>
    </th>

    <th scope="row">
        <div class="media align-items-center">

            <div class="media-body">
                <span class="name mb-0 text-sm">{{analitmarka}}</span>
            </div>
        </div>
    </th>




    <td class="text-right">
        <div class="dropdown">
            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">

                <a class="dropdown-item" onclick="deleteModel('{{programanalitlerikod}}','{{programkod}}')">Sil</a>


            </div>
        </div>
    </td>


</tr>

{{/each}}
<script>
    function deleteModel(a, b) {
        $.get("/programanalitlerisilme/" + a, function (data) {

        });

        $.get("/programanalitleri/" + b, function (data) {
            var tbody = $("#programanalitlerilistele");
            tbody.empty();
            tbody.append(data);
        });
    }
</script>